<nav class="nav nav-pills ">
  <a class="nav-link" href="/" id="home"><i class="bi-alarm"></i> Home</a>
  <a class="nav-link" href="/compare-umweltparameter" id="compare-umweltparameter"><i class="bi bi-diagram-2"></i> Umweltparameter vergleichen</a>
  <a class="nav-link" href="/activities-list" id="activities-list">Show Activities</a>
  <a class="nav-link" href="/activity-create" id="activity-create">Create Activity</a>
  <a class="nav-link" href="/character-create" id="character-create">Create a Character</a>
  <a class="nav-link" href="/config-upload" id="config-upload">Konfigurationsdatei angeben</a>
</nav>